@import './container.css';

/*************************************/
/*           Container               */
/*************************************/

.header-container, ul, .content-container, .img-post-container, .post-flex-container, .post-user-info {
    display: flex;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
}

/*************************************/
/*             Header                */
/*************************************/

header {
    background-color: #1f2229;
    height: 60px;
}

h1 {
    color: #3c96f2;
    font-family: Helvetica, sans-serif;
    line-height: 60px;
}

ul {
    list-style: none;
    height: 60px;
    align-items: center;
    line-height: 60px;
}

li {
    transition: all 0.25s ease-in-out;
}

li:hover {
    background-color: #2c303a;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 0 20px;
}

#profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

#profile-pic:hover {
    cursor: pointer;
}

/*************************************/
/*              Main                 */
/*************************************/

main {
    background-color: #14161d;
    height: auto;
}

.content-container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
}

form {
    background-color: #1f2229;
    width: 600px;
    height: 200px;
    padding: 15px;
    border-radius: 5px;
}

textarea {
    background-color: #1f2229;
    width: 100%;
    height: 70%;
    text-decoration: none;
    resize: none;
    padding-bottom: 10px;
    color: #fff;
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

i {
    color: #fff;
    font-size: 32px;
}

.img-post-container {
    justify-content: space-between;
    place-items: center;
}

button {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #2993ff;
    color: #fff;
    font-weight: 600;
}

.post-flex-container {
    flex-direction: column;
    gap: 20px;
}

.post-container {
    background-color: #fff;
    width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    color: black;
}

.modal-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    padding: 240px 180px;
    border-radius: 5px;;
    background-color: #1f2229;;
}

/* .modal.hidden {
    display: none;
} */

#modal.hidden, .modal-picture.hidden, .modal-content.hidden {
    display: none;
}

.post-pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-text {
    color: #000;
    font-size: 18px;
}

.photo-name {
    color: #fff;
}